.container {
    display: flex;
    flex-direction: column;
    /* viewport-height */
    min-height: 100vh;
}

main {
    /* background-color: aquamarine; */
    flex-grow: 1;
    width: 85%;
    margin: 20px auto 10px;
    padding-top: 64px;
}